.swiper {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 2;

  @media (max-width: 960px) {
    display: none;
  }
}

.slideContainer {
  max-width: 1920px;
  height: 100vh;
}

.slideWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slideImage {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.title {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Forum";
  z-index: 3;
  text-align: center;
  @media (max-width: 960px) {
    bottom: 50px;
  }
}

.subTitle {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Forum";
  z-index: 3;
  text-align: center;
}
